.navbar-brand img{
	height: 70px;
	width: 150px;
}
.center{
	margin-left: 35%;
}
.card img{
	height: 287px;
}
.card-body{
	height:  200px;
}

* {
  -webkit-border-radius: 1px !important;
     -moz-border-radius: 1px !important;
          border-radius: 1px !important;
}
#logo {
color: #666;
width:100%;   
}
#logo h1 {
    font-size: 60px;
    text-shadow: 1px 2px 3px #999;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
}
#logo p{
  padding-bottom: 20px;
}


#form-buscar >.form-group >.input-group > .form-control {
    height: 40px;
}
#form-buscar >.form-group >.input-group > .input-group-btn > .btn{
        height: 40px; 
        font-size: 16px;
        font-weight: 300; 
         
       
}
#form-buscar >.form-group >.input-group > .input-group-btn > .btn .glyphicon{
 margin-right:12px;   
}    


#form-buscar >.form-group >.input-group > .form-control {
    font-size: 16px;
    font-weight: 300;
   
}

#form-buscar >.form-group >.input-group > .form-control:focus {
  border-color: #33A444;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 1px rgba(0, 109, 0, 0.8);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 1px rgba(0, 109, 0, 0.8);
}
.container > .row{
	justify-content: space-between;
}
H6{
	text-align: center;
	margin-bottom: 2%;
}

.card{
	border-radius: 20px !important; 
}
.card img{
	border-radius: 20px !important; 
}










@media only screen and (max-width: 768px) {
.container > .row{
	justify-content: space-around;
}
	form{
	margin-right: 0px !important;
} 

.selc{
	margin-left: 0px !important;

}
}



.navbar{
	background-color: white!important;
}
.nav-link {
	color:  #337ab7!important;
	margin-right: 5px;
	margin-left: 5px;
	text-align: center;
}

.nav-link:hover {
	color: #337ab7 !important;
	border-bottom: 2px solid #337ab7 !important ;
	border-width: 5px !important ;
}
.nav-item
{
	text-align: center;
}
select{

	padding: 3px;
	color: #337ab7;

	font-weight: bold;
	
}
select:hover{
	color: #337ab7 !important;
	background-color: #337ab7;
	color: white !important;
	border-width: 5px !important ;
	
}

.active {
	color: #337ab7 !important;
	border-bottom: 2px solid #337ab7 !important;
	border-width: 5px !important;
}
  .navbar-toggler-icon {
    background-image:url(../Img/gear.png) !important;
	 
  }

.imgg {
	height: 40px !important;
	width: 160px !important;

}
.fa-bell{
	color: #337ab7 !important;
}

.nav-linkk{
	cursor: pointer;
}














.dropdown{
	margin-top: 7px;
}


.tagname{
	color: #4f4f4f;
	float: right;
	font-size: 16px;
}
.form-control{
	text-align: right;
}
select:focus{outline: none;
}

.notifictions{
float: right;
	padding-right: 20px;
	padding-left: 20px;
}
 .icon-wrap {
	 width: auto !important;
	
	 cursor: pointer;
}
.notifictions{
	position: relative;
}
.notificiton_dd{
	position: absolute;
	top: 48px;
	
	display: none;
	background: #fff;
	width: 350px;
	height: auto;
	border: 1px solid #c7d8e2;
	border-radius: 3px;
	box-shadow: 10px 10px 30px rgba(0,0,0,0.125),
	-10px -10px 30px rgba(0,0,0,0.125);
	z-index: 999;
}

li{
	list-style: none;
}
.notificiton_dd::before{
	content: "";
	position: absolute;
	top: -20px;
	
	border: 10px solid ;
	border-color: transparent transparent #fff transparent;
	
}
.notificiton_dd li .notify_icon{
	display: flex;
}
.notificiton_dd li{
	border-bottom:  1px solid #f1f2f4;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	
}
.notificiton_dd li:last-child{
	border-bottom: 0;
}
.notificiton_dd li .notify_icon .icon img{
	
	width: 40px;
	height: 42px;
	
}
.notificiton_dd li .notify_data{
	margin: 0 15px;
	width: 185px;
	
}
.notificiton_dd li .notify_data .title{
	color: #000;
	font-weight: 600px;
	font-size: 15px;
}
.notificiton_dd li .notify_status p{
	font-size: 12px;
	color: #337ab7;
}
.notificiton_ul li.show_all{
	padding: 20px;
	display: flex;
	justify-content: center;
}
.notificiton_ul{
	height: 250px;
	overflow-y: scroll;
}
.notificiton_dd li.show_all p{
	font-weight: 700;
	color: #3b80f9;
	cursor: pointer;
}
.notificiton_dd li.show_all p:hover{
	text-decoration: underline;
}
.notifictions.active .notificiton_dd{
	display: block;
}
.popup{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	
}
ul{
	padding-left: 0 !important;
}
.popup .shadow{
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	
}
.popup .pop_inner{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.popup .pop_inner .notificiton_dd{
	display: block;
	position: static;
	margin: 0 auto;
	height: auto;
	overflow: auto;
	
}
.popup .popup_inner .notificiton_dd:before{
	display: none;
	
}
.popup .pop_inner .notificiton_dd li.title{
	font-weight: 700;
	color: #3b80f9;
	display: flex;
	justify-content: center;
	position: relative;
}
.popup .pop_inner .notificiton_dd li.title p{
	color: #337ab7;
}
.popup .pop_inner .notificiton_dd li .close{
	position: absolute;
	top : 2px;
	right: 10px;
	font-size: 20px;
	cursor: pointer;
	height: 20px;
	width: 20px;
	color: #337ab7
	
	
}
.popup .pop_inner .notificiton_dd li .close:hover{
	opacity: 0.5;
	
}
.popup.active{
	display: block ;
}
.input-group{
	
}
form{
	margin-right: 18px;
}

.selc{
	float: left;
	border: 4px solid #337ab7 !important;
	padding: 0px;
	margin-left: 15px;
	border-collapse: collapse !important;
	border-color: white;
	padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 15px;
	

}
@media only screen and (max-width: 991px) {
	.imgg {
		display: none;
		
	}
	

	
	
	
	.dropdown{
		padding-left: 0 !important;
	}
	.notificiton_dd{
	position: absolute;
	top: 48px;
	right: -15px;
	display: none;
	background: #fff;
	width: 350px;
	height: auto;
	border: 1px solid #c7d8e2;
	border-radius: 3px;
	box-shadow: 10px 10px 30px rgba(0,0,0,0.125),
	-10px -10px 30px rgba(0,0,0,0.125);
	z-index: 999;
}
	.notificiton_dd::before{
	content: "";
	position: absolute;
	top: -20px;
	right: 15px;
	border: 10px solid ;
	border-color: transparent transparent #fff transparent;
	
}
}
